* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background: #d0d7ed;
    background: radial-gradient(circle, rgba(208,215,237,1) 0%, rgba(255,255,255,1) 51%);
    
}

.navbar-lg {
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1000;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 0 20px 20px 0;
    justify-content: space-between;
    padding-left: 10px;
    background: rgb(182,186,199);
    background: linear-gradient(180deg, rgba(182,186,199,1) 24%, rgba(255,255,255,1) 100%);
}

.navbar-lg img{
    width: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.navbar-lg a {
    padding: 8px 16px;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding-right: 40px;
}

h1{
    letter-spacing: -3px;
}

.navbar-lg a:hover, .navbar-lg a.active {
    background-color: rgba(255,255,255,1);
    padding-right: 40px;
    border-radius: 20px 0 0 20px;
    box-shadow: -10px 0 10px -10px rgba(0, 0, 0, 0.5);
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.navbar{
    display: none;
}

.fondo{
    background: rgba(128, 128, 128, 0.03);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 10px 0 10px -10px rgba(0, 0, 0, 0.3);
}

.fondo2{
    background-image: url(../img/leaf2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.fondo3{
    background: rgb(226,229,240);
    background: linear-gradient(0deg, rgba(226,229,240,1) 57%, rgba(255, 255, 255, 0.44) 57%);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 10px 0 10px -10px rgba(0, 0, 0, 0.3);
}

.presentacion img{
    position: absolute;
    padding: 50px;
    z-index: 1000;
    opacity: 0.8;
}

#inicio{
        background: #d0d7ed;
    background: radial-gradient(circle, rgba(182, 186, 199, 0.564) 0%, rgba(255,255,255,1) 51%);
}

video{
    width: 100%;
    opacity: 0.7;
    clip-path: polygon(100% 70%, 100% 0, 0 0, 0 70%, 50% 79%);
}

.empresa p{
    background: rgba(188, 188, 188, 0.211);
}

.fondoform{
    background-color: #d0d7ed;
    clip-path: polygon(0 10%, 50% 17%, 100% 10%, 100% 100%, 0 100%);
}

form{
    width: 500px;
    padding-top: 180px;
}

.iconos a{
    text-decoration: none;
    color: black;
    opacity: 0.5;
}

.iconos a:hover{
    opacity: 1;
}

.iconos{
    font-size: 25px;
    
}

footer{
    background-color: #d0d7ed;
}

.marca{
    font-family: 'Krona One', sans-serif;
    font-size: 70px;
    letter-spacing: -15px;
}

.registrada{
    font-size: 20px;
}


@media screen and (max-width: 830px) {

    .navbar-lg{
        display: none;
    }

    .navbar{
        display: block;
    }

    .presentacion img{
        width: 400px;
    }
        
}